DSTBASEDIR=/path/to/local/dir/and/scripts/etc
DSTREMOTEDIR=/path/to/remote/dir

WATCHDIRS_L[0]=$DSTBASEDIR/localdir1
WATCHDIRS_L[1]=$DSTBASEDIR/localdir2

WATCHDIRS_R[0]=$DSTREMOTEDIR/remotedir1
WATCHDIRS_R[1]=$DSTREMOTEDIR/remotedir2

WATCHDIRS_N[0]=name1
WATCHDIRS_N[1]=name2
